services:
  mc:
    image: itzg/minecraft-server:latest
    container_name: mc_srv
    tty: true
    stdin_open: true
    environment:
      EULA: "TRUE"
      MEMORY: "2048M"
      MOTD: "Save The Turtles!"
      ICON: "/data/logo.png"
      USE_AIKAR_FLAGS: "true"
      USE_MEOWICE_FLAGS: "true"
      TZ: "Europe/Copenhagen"
      DIFFICULTY: "2"
    volumes:
      - /opt/docker_apps/MC_Server/data:/data
    networks:
      mc-net:
        ipv4_address: 172.28.0.2
    restart: unless-stopped

  playit:
    image: ghcr.io/playit-cloud/playit-agent:latest
    container_name: playit
    environment:
      - SECRET_KEY=${SECRET_KEY}
    networks:
      mc-net:
        ipv4_address: 172.28.0.3
    restart: unless-stopped

networks:
  mc-net:
    driver: bridge
    name: mc_net
    ipam:
      config:
        - subnet: 172.28.0.0/16