services:
  mc:
    image: itzg/minecraft-server:latest
    container_name: mc_srv
    tty: true
    stdin_open: true
    environment:
      EULA: "TRUE"
      SERVER_NAME: "Spillecraft"
      MEMORY: "6G"
      MAX_MEMORY: "6G"
      MOTD: "Save The Turtles!"
      DIFFICULTY: "normal"
      ICON: "/data/logo.png"
      USE_AIKAR_FLAGS: "true"
      TZ: "Europe/Copenhagen"
      TYPE: "PAPER"
      VERSION_FROM_MODRINTH_PROJECTS: "true"
      OPS: "patrick8621"
      MODRINTH_LOADERS: "paper,spigot"
      MODRINTH_PROJECTS: "chunky,essentialsx,coreprotect,luckperms"
      ENABLE_COMMAND_BLOCK: "true"
      SPAWN_PROTECTION: "0"
      ALLOW_FLIGHT: "true"
      VIEW_DISTANCE: "12"
      SIMULATION_DISTANCE: "6"
      PLAYER_IDLE_TIMEOUT: "0"
      MAX_PLAYERS: "20"
      PVP: "true"
      ALLOW_NETHER: "true"
      SYNC_CHUNK_WRITES: "false"
      ENABLE_AUTOPAUSE: "false"
    volumes:
      - /opt/docker_apps/MC_Server/data:/data
      - /opt/docker_apps/MC_Server/backups:/backups       
    networks:
      mc-net:
        ipv4_address: 172.28.0.2
    restart: unless-stopped

  playit:
    image: ghcr.io/playit-cloud/playit-agent:latest
    container_name: playit
    environment:
      - SECRET_KEY=${SECRET_KEY}
    networks:
      mc-net:
        ipv4_address: 172.28.0.3
    restart: unless-stopped

networks:
  mc-net:
    driver: bridge
    name: mc_net
    ipam:
      config:
        - subnet: 172.28.0.0/16